<html th:replace="/shared/layout::dynamic(~{::main})" xmlns:th="http://www.thymeleaf.org">
<main>
	<h4 class="alert alert-success">ĐĂNG NHẬP</h4>
	<form action="/spring/login" method="post">
			<i th:text="${message}"></i>
			<div class="mb-3">
					<label for="">Tên đăng nhập</label>
					<input name="username" class="form-control" >
			</div>
			<div class="mb-3">
				<label for="">Mật khẩu</label>
				<input name="password" class="form-control" >
			</div>
			<div class="mb-3">
				<input name="remember-me" type="radio" id="check" style="cursor: pointer;">
				<label for="check" style="cursor: pointer;">nhớ tài khoản?</label>
			</div>

			<div class="mb-3">
					<button class="btn btn-primary">Đăng nhập</button>
			</div>
	</form>
</main>
</html>