<!-- The Modal -->
<div class="modal fade" id="share-dialog">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chia sẽ thông tin sản phẩm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"> </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="mb-3">
                    <label for="">Email người gửi</label>
                    <input id="sender" type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="">Email người nhận</label>
                    <input id="receiver" type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="">Tiêu đề</label>
                    <input id="subject" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="">Nội dung</label>
                    <textarea  id="text" type="text" rows="3" class="form-control"> </textarea>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary nn-share-send" data-bs-dismiss="modal">Gửi đi</button>
            </div>

        </div>
    </div>
</div>