<html th:replace="/shared/layout::dynamic(~{::main})" xmlns:th="http://www.thymeleaf.org">
<main>
	<h3 class="alert alert-success">Chi tiết đơn hàng</h3>
	<form th:object="${item}" action="/order/purchase" class="card" method="post">
    	<div class="card-body">
    		<div class="row mb-3">
		        <div class="col">
		            <label>Mã</label>
		            <input th:field="*{id}" class="form-control" readonly>
		        </div>
		        <div class="col">
		            <label>Khách hàng</label>
		            <input th:field="*{account.fullname}" class="form-control" readonly>
		        </div>
		        <div class="col">
		            <label>Ngày đặt</label>
		            <input th:field="*{orderDate}" class="form-control" readonly>
		        </div>
		        <div class="col" hidden>
		            <label>Tông tiền</label>
		            <input th:field="*{amount}" class="form-control" readonly>
		        </div>
	        </div>
	        <div class="row mb-3">
		        <div class="col">
		            <label>Người nhận</label>
		            <input th:field="*{recipient}" class="form-control" readonly>
		        </div>
		        <div class="col">
		            <label>Số điện thoại</label>
		            <input th:field="*{mobile}" class="form-control" readonly>
		        </div>
		        <div class="col-4">
		            <label>Người nhận</label>
		            <input th:field="*{address}" class="form-control" readonly>
		        </div>
		        
		         <div class="col-2">
		            <label>Trạng thái đơn hàng</label>
		            <input th:field="*{status.name}" class="form-control" readonly>
		        </div>
	        </div>
	        <div class="mb-2">
	            <label>Ghi chú</label>
	            <textarea th:field="*{notes}" class="form-control" rows="4" readonly></textarea>
	        </div>
	        <div th:replace="/order/order-lines"></div>
	        
        </div>
        <div th:if="*{status.id == 0}" class="card-footer">
            <a th:href="@{|/order/cancel/*{id}|}" class="btn btn-primary">Hủy Mua Hàng</a>
        </div>
    </form>
</main>
</html>		