<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout::dynamic(~{::view})">
	
<main th:fragment="view">
    <form action="/account/change-password" method="post">
    	<div class="card">
			<div class="card-header">
				THAY ĐỔI MẬT KHẨU
				<i class="float-end text-danger" th:text="${message}"></i>
			</div>
			<div class="card-body">
		        <div class="mb-3">
		            <label>Tên đăng nhập</label>
		            <input name="username" th:value="${#authentication.principal.account.username}" readonly class="form-control">
		        </div>
		        <div class="mb-3">
		            <label>Mật khẩu hiện tại</label>
		            <input name="password" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label>Mật khẩu mới</label>
		            <input name="newpass" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label>Xác nhận mật khẩu mới</label>
		            <input name="confirm" class="form-control">
		        </div>
		    </div>
		    <div class="card-footer text-end">
		    	<button class="btn btn-primary">Cập nhật</button>
		    </div>
		</div>
    </form>
</main>

</html>