<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout::dynamic(~{::view})">

<main th:fragment="view">
	<form th:object="${form}" action="/account/edit-profile" method="post" enctype="multipart/form-data">
		<div class="card">
			<div class="card-header fw-bold">
				Chỉnh Sửa Thông Tin Cá Nhân
				<i class="float-end text-danger" th:text="${message}"></i>
			</div>
			<div class="card-body">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-2">
	        					<img th:src="@{|/images/photos/*{photo}|}" id="photo_img" style="height: 180px; max-width: 100%">
	        				</div>
	        				
	        				<div class="col-sm-8">
	        					<div><strong>Tên đăng nhâp: </strong> <i th:text="*{username}"></i></div>
	        					<div> <strong>Họ và tên:  </strong> <i th:text="*{fullname}"></i></div>
	        					<div><strong>Email:  </strong> <i th:text="*{email}"></i></div>
	        					<div><strong>Số điện thoại: </strong>  <i th:text="*{mobile}"></i></div>
	        					<div><strong>Địa chỉ: </strong>  <i th:text="*{address}"></i></div>
	        				</div>
							
						</div>
					</div>
		        <div class="row mb-3">
			        <div class="col">
			            <label>Tên đăng nhập</label>
			            <input th:field="*{username}" readonly class="form-control">
			        </div>
			        <div class="col">
			            <label>Họ và Tên</label>
			            <input th:field="*{fullname}" class="form-control">
			        </div>
		        </div>
		        <div class="row mb-3">
		        	<div class="col">
			            <label>Ảnh</label>
			            <input type="file" name="photo_file" class="form-control">
			            <input  th:field="*{photo}" type="hidden">
			        </div>
			        <div class="col">
			            <label>Email</label>
			            <input th:field="*{email}" class="form-control">
			        </div>
		        </div>
		        <div class="row mb-3">
		        	<div class="col">
			            <label>Số điện thoại</label>
			            <input th:field="*{mobile}" class="form-control">
			        </div>
		        	<div class="col">
			            <label>Địa chỉ</label>
			            <input th:field="*{address}" class="form-control">
			        </div>
			    </div>
		    </div>
		    <div class="card-footer text-end">
		    	<input th:field="*{activated}" type="hidden">
		    	<input th:field="*{password}" type="hidden">
		        <button class="btn btn-primary">Câp nhật</button>
		    </div>
	    </div>
    </form>
</main>