<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout::dynamic(~{::view})">
	
<main th:fragment="view" class="row justify-content-center">
	<form action="/account/forgot-password" method="post" class="col-6">
		<div class="card rounded shadow">
			<div class="card-header bg-dark text-white">
				QUÊN MẬT KHẨU
				<i class="float-end text-danger" th:text="${message}"></i>
			</div>
			<div class="card-body">
		        <div class="mb-3">
		            <label><i class='bx bxs-user-circle'></i> Tên đăng nhập</label>
		            <input name="username" class="form-control" placeholder="Nhập tên đăng nhập...">
		        </div>
		        <div class="mb-3">
		            <label><i class='bx bx-mail-send' ></i> Email của bạn</label>
		            <input name="email" class="form-control" placeholder="Nhập email của bạn từ lúc tạo tài khoản.">
		        </div>
			</div>
			<div class="card-footer text-end">
				<button class="btn btn-primary">Lấy mật khẩu</button>
			</div>
		</div>
	</form>
</main>

</html>