<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout::dynamic(~{::view})">
	
<main th:fragment="view" class="row justify-content-center">
	<form action="/account/forgot-password" method="post" class="col-6">
		<div class="card rounded shadow">
			<div class="card-header bg-dark text-white">
				FORGOT PASSWORD
				<i class="float-end text-danger" th:text="${message}"></i>
			</div>
			<div class="card-body">
		        <div class="mb-3">
		            <label>Username</label>
		            <input name="username" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label>Registered Email</label>
		            <input name="email" class="form-control">
		        </div>
			</div>
			<div class="card-footer text-end">
				<button class="btn btn-primary">Retrieve Password</button>
			</div>
		</div>
	</form>
</main>

</html>