<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout::dynamic(~{::view})">
	
<main th:fragment="view">
    <form action="/account/reset-password" method="post">
    	<div class="card">
    		<div class="card-header">
    			RESET PASSWORD
    			<i class="float-end text-danger" th:text="${message}"></i>
    		</div>
    		<div class="card-body">
    			<div class="mb-3">
		            <label>Username</label>
		            <input name="username" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label>Token Code</label>
		            <input name="token" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label>New Password</label>
		            <input name="newpass" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label>Confirm New Password</label>
		            <input name="confirm" class="form-control">
		        </div>
    		</div>
    		<div class="card-footer text-end">
    			<button class="btn btn-primary">Reset</button>
    		</div>
    	</div>
    </form>
</main>

</html>