<div xmlns:th="http://www.thymeleaf.org">
    <hr>
    <ul class="nav justify-content-center fw-bold" style="font-variant: small-caps;">
        <li class="nav-item">
            <a class="nav-link" href="/home/index">Trang Chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/about">Giới Thiệu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/contact">Liên Hệ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/feedback">Góp Ý</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/faq">Hỏi Đáp</a>
        </li>
    </ul>
    <div class="text-center text-white">
      Java Spring &copy; 2022. First Project Shop E-store (Nhóm 11).
    </div>
</div>