<div xmlns:th="http://www.thymeleaf.org">
    <hr>
    <ul class="nav justify-content-center" style="font-variant: small-caps;">
        <li class="nav-item">
            <a class="nav-link" href="/home/index">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/about">Giới thiệu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/contact">Liên hệ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/feedback">Góp ý</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/faq">Hỏi - đáp</a>
        </li>
    </ul>
    <div class="text-center">
        &copy; 2022 by Nhất Nghệ. All rights reserved.
    </div>
</div>