<header  xmlns:th="http://www.thymeleaf.org">
    <ul class="nav float-end">
        <li class="nav-item">
            <a class="nav-link" href="#">
            <img src="https://raw.githubusercontent.com/lipis/flag-icons/4f420bdd2e954f6da11220f1136fa181ed7019e7/flags/1x1/vn.svg" height="15" width="20">
             Tiếng Việt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="https://raw.githubusercontent.com/lipis/flag-icons/4f420bdd2e954f6da11220f1136fa181ed7019e7/flags/1x1/us.svg" height="15" width="20">
             English</a>
        </li>
    </ul>
    <img src="/images/banner.png" class="mt-3 mb-3" style="width: 30%;"> <!--  -->
</header>