<div xmlns:th="http://www.thymeleaf.org">
	<ul th:with="path='/home/index/paginate'" class="pagination justify-content-center my-1 shadow">
		<li class="page-item">
			<a class="page-link" th:href="@{|${path}/0|}">
				<i class='bx bxs-chevrons-up p-1'></i>
			</a>
		</li>
		<li th:class="@{|page-item ${page.first ? 'disabled' : ''}|}">
			<a class="page-link" th:href="@{|${path}/${page.number - 1}|}"> <!-- page.number  trang trước hien tai -1 -->
				<i class='bx bxs-chevrons-left p-1'></i>
			</a>
		</li>
		<li th:each="n: ${#numbers.sequence(0, page.totalPages-1)}" class="page-item">
			<a class="page-link" th:href="@{|${path}/${n}|}">
				<span th:text="${n + 1}"></span>
			</a>
		</li>
		<li th:class="@{|page-item ${page.last ? 'disabled':''}|}">
				<!-- page.number trang sau hien tai -1 -->
			<a class="page-link" th:href="@{|${path}/${page.number + 1}|}">
				<i class='bx bxs-chevrons-right p-1'></i>
			</a>
		</li>
		<li class="page-item">
				<!-- page.totalPages trang cuối = tổng số trang -1 -->
			<a class="page-link" th:href="@{|${path}/${page.totalPages - 1}|}">
				<i class='bx bxs-chevrons-down p-1'></i>
			</a>
		</li>
	</ul>
</div>